.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  display:flex;
  text-decoration: none;
  transition: opacity 1s linear;
}
.footer__column-link:hover {
  opacity: 50%;
}
